/* Expense tracker */
.expense-tracker-container {
    display: flex; 
    justify-content: space-between;
    background-color: #383636;
    color: white;
    font-family: sans-serif;
  }
  
  .spend-info-container,
  .spend-limit-container {
    flex: 1; 
    padding: 16px; 
    border: 1px solid #383636;
  }

  .text-content {
    background-color: #137cb5;
    padding: 10px;
  }

  .daily-spend-limit {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 20px 0;
  }
  
  .label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .amount {
    font-size: 24px;
  }

  .spend-limit-container {
    display: grid;
    grid-template-columns: auto 1fr auto 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
  }
  
.spent-limit-amount {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 180px;
    text-align: center;
    font-size: 44px;
    color: rgb(253, 253, 253);
    align-items: center;
    padding-top: 50px;
    padding-bottom: 10px;
    grid-column: 1 / span 4;
}
.spent-limit-amount p {
    margin: 0;
}
  
  .progress-container {
    grid-column: 1 / span 4;
    text-align: center;
  }
  
  .progress {
    height: 10px;
    width: 80%;
    background-color: #ccc;
    border-radius: 5px;
    margin: 0 auto;
  }
  
  .progress-fill {
    height: 100%;
    border-radius: 5px;
    background-color: red;
  }
  
  .progress-label {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    text-align: center;
    font-size: 16px;
    color: rgb(253, 253, 253);
    align-items: center;
    padding-left: 30px;
    padding-top: 10px;
    grid-column: 1 / span 4;
  }
  
  .progress-label p {
    margin: 0;
  }
  
  /* Notification settings */
  .notification-container {
    font-family: sans-serif;
    font-size: 16px;
  }

  .input {
    margin: 3px 10px;
    padding: 4px 4px;
    background-color: #eeebeb;
    font-size: 16px;
    border-radius: 3px;
  }

  .btn {
    margin: 0 5px;
    background-color:rgb(53, 101, 159);
    border-radius: 3px;
    font-size: 16px;
    color: rgb(239, 243, 247);
    cursor: pointer;
    padding: 4px 15px;
  }

  .btn:hover {
    background-color:rgb(224, 226, 228);
    color: rgb(41, 42, 43);
  }

  .remove-btn  {
    margin: 3px 5px;
    background-color:rgb(239, 176, 163);
    border-radius: 3px;
    font-size: 16px;
    color: #202122;
    cursor: pointer;
    padding: 2px 15px;
  }

  .remove-btn:hover {
    background-color:rgb(224, 226, 228);
    color: rgb(41, 42, 43);
  }
